{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
      $('.second-menu').attr('id','active')
  })
</script>
       <section id="side-menu">
       {{ path }}
         <ul>
           <li id="sub-menu-box">
               <a id="car-name1" href="{% url 'home' %}">All</a>
           </li>
           <li id="sub-menu-box">
               <a id="car-name1" href="{% url 'picture' %}">Pictures</a>
           </li>
           <li id="sub-menu-box">
               <a id="car-name1" href="{% url 'logo' %}">Logo</a>
           </li>
           <li id="sub-menu-box">
               <a id="car-name1" href="{% url 'poster' %}">Poster</a>
           </li>
           <li id="sub-menu-box">
               <a id="car-name1" href="{% url 'videos' %}">Videos</a>
           </li>

         </ul>
       </section>
       <section id="img-box">
         <div class="container-fluid">
           <div class="row">
             <div class="col-sm-12" id="img-row">   <!-- begin picture -->
             {% for i in pictures %}
               <div class="col-sm-3" id="box-row">
                 <div class="middle">
                    <i class="fa fa-cloud-download fa-5x" aria-hidden="true"></i>
                  </div>
                  <a href="product.html">
                  {% if i.image %}
                     <a href="/product/{{ i.id }}"><img src="{{ i.image.url }}" id="img-box-part" class="wow fadeInUp "/></a>
                  {% else %}
                    <img src="" id="img-box-part" class="wow fadeInUp " alt="Blank"/>
                  {% endif %}
                  </a>
               </div>
             {% endfor %}
             </div>         <!-- End picture -->
             
           </div>
         </div>
       </section>
{% endblock %}